body {
  background-image: url("../scr/img/background-image.webp");
  background-position: center;
  background-size: auto;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 5px;
}

button:hover {
  background-color: #102f5e;
  color: #fff;
}

button:hover > i {
  color: #fff;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* toDo header */
.todo-container {
  max-width: 450px;
  margin: 5rem auto 0;
  background-color: #dddddd;
  padding: 1.5rem;
  border-radius: 15px;
  border: 2px dotted #102f5e;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* Todo Form */
#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}